html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  margin: 0; }

/* General Classes */
.italicize {
  /* Typography */
  font-style: italic; }

.font-futura-pt-thick {
  /* Typography */
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 400; }

.font-futura-pt-thin {
  /* Typography */
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 200; }

.font-freight {
  /* Typography */
  font-family: freight-big-pro, serif;
  font-style: normal;
  font-weight: 500; }

h1 {
  /* Box Model */
  margin-bottom: 50px;
  /* Typography */
  font-size: 3em; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  h1 {
    font-size: 5em; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  h1 {
    font-size: 6em; } }
hr {
  /* Box Model */
  margin-top: 40px;
  margin-bottom: 40px;
  height: 3px;
  /* Visual */
  background-color: #9f173d; }

/* Other Classes */
.hidden {
  display: none; }

#my_popup {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 70%;
  background-color: white; }

.close-button {
  /* Positioning */
  position: absolute;
  top: 1em;
  right: 1em;
  /* Box Model */
  width: 25px;
  /* Visual */
  color: #9f173d;
  background-color: white; }

/* Visual cue for users to know they can click close button */
.close-button:hover {
  cursor: pointer; }

.top-design-box {
  /* Positioning */
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  margin: auto;
  /* Box Model */
  height: 400px;
  width: 110px;
  /* Visual */
  background-color: transparent;
  border-style: solid;
  border-color: lightgrey;
  border-width: thick;
  /* Misc */
  opacity: 0.5; }

.invitation-body-container {
  width: 100%;
  background-color: white; }

.invitation-body {
  /* Box-model */
  max-width: 575px;
  padding-top: 75px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  /*Typography*/
  text-align: center;
  /*Visual*/
  background-color: white; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .invitation-body .invitation-greeting {
      font-size: 2em; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .invitation-body .invitation-greeting {
      font-size: 3em; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .invitation-body .invitation-transition-phrase {
      font-size: 2em; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .invitation-body .invitation-transition-phrase {
      font-size: 3em; } }
  .invitation-body .company-name {
    color: #9f173d; }
  .invitation-body .event-description {
    line-height: 150%; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .invitation-body .event-description {
      font-size: 1.9em; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .invitation-body .event-description {
      font-size: 1.9em; } }
  .invitation-body .unordered-list {
    /* Box Model */
    max-width: 450px;
    margin: auto;
    margin-bottom: 75px;
    padding-right: 20px;
    /*Typography*/
    text-align: left; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .invitation-body .unordered-list {
      max-width: 550px; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .invitation-body .unordered-list-heading {
      font-size: 1.8em; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .invitation-body .unordered-list-heading {
      font-size: 2em; } }
  .invitation-body li {
    /* for ul bullet color */
    color: #9f173d; }
  .invitation-body li span {
    /* to separate text color from bullet color. */
    /* Positioning */
    position: relative;
    left: 15px;
    /* to provide space between bullets and list items */
    /* Typography */
    color: black;
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 0.9em;
    line-height: 200%; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .invitation-body li span {
      font-size: 1.7em; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .invitation-body li span {
      font-size: 2em;
      line-height: 150%; } }

.invitation-footer {
  /* Box-model */
  margin: auto;
  padding-bottom: 80px;
  /*height: 375px;*/
  /*Typography*/
  color: white;
  text-align: center;
  /*Visual*/
  background-color: #9f173d; }
  .invitation-footer .invitation-footer-title {
    /* Box Model */
    padding-top: 40px;
    margin-bottom: 0px;
    /* Typography */
    font-size: 1.6em;
    font-weight: 100; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .invitation-footer .invitation-footer-title {
      font-size: 2.5em; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .invitation-footer .invitation-footer-title {
      font-size: 4em; } }
  .invitation-footer .invitation-footer-subtitle {
    /* Box Model */
    margin-top: 0px;
    /* Typography */
    font-size: 0.9em; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .invitation-footer .invitation-footer-subtitle {
      font-size: 1.6em; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .invitation-footer .invitation-footer-subtitle {
      font-size: 2em;
      padding-left: 50px;
      padding-right: 50px; } }
  .invitation-footer .invitation-footer-form {
    /* Box Model */
    margin-top: 20px;
    margin-bottom: 10px; }
  .invitation-footer .invitation-footer-form-input {
    /* Box Model */
    border-style: none;
    margin-left: 5px;
    width: 200px;
    height: 40px; }
  .invitation-footer ::-webkit-input-placeholder {
    padding-left: 10px;
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    color: black; }
  .invitation-footer .invitation-footer-form-button {
    /* Box Model */
    border-style: none;
    margin-left: 5px;
    width: 110px;
    height: 40px;
    /* Typography */
    font-size: 1em;
    /* Visual */
    background-color: black;
    color: white; }
  .invitation-footer .invitation-footer-checkbox {
    /* Box Model */
    margin-bottom: 30px;
    max-width: 350px;
    margin: auto;
    /* Typography */
    text-align: left; }
  .invitation-footer .checkbox-container {
    display: inline-block; }
  .invitation-footer .label-container {
    display: inline-block; }
  .invitation-footer .invitation-footer-checkbox-label {
    /* Typography */
    font-size: 0.5em; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .invitation-footer .invitation-footer-checkbox-label {
      font-size: 1.8em; } }
  @media only screen and (min-device-width: 480px) and (max-device-width: 768px) {
    .invitation-footer .invitation-footer-checkbox-label {
      font-size: 1.8em; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .invitation-footer .invitation-footer-checkbox-label {
      font-size: 3em; } }

/*# sourceMappingURL=Invitation.css.map */
